* {
  font-family: "Roboto Lato", sans-serif;
  font-size: 13pt;
}

/*
* background defenitions
*/
.backgroundGray {
  background-color: #999999;
}

.backgroundBlack {
  background-color: #151515;
}

.backgroundWhite {
  background-color: #F2F2F2;
}

.backgroundRed {
  background-color: #B02026;
}

.backgroundYellow {
  background-color: #FFCF00;
}

.backgroundBlue {
  background-color: #00A7E3;
}

.content {
  display: block;
  width: max-content;
  height: 470px;
  /*470*/
  overflow: hidden;
}
.content .table {
  display: flex;
  justify-content: center;
  position: relative;
}
.content .table .item {
  border: 1px solid #000;
  border-radius: 5px;
}
.content .table .item .fader {
  width: 80px;
  height: 360px;
  /*100 390*/
  overflow: visible;
  /* switch*/
  /* The switch - the box around the slider */
}
.content .table .item .fader .subtitleFader,
.content .table .item .fader .subtitleFaderValue,
.content .table .item .fader .subtitleFaderDevice {
  width: 88px;
  /*100*/
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
.content .table .item .fader .subtitleFader {
  top: 2px;
  font-size: 11pt;
}
.content .table .item .fader .subtitleFaderValue {
  bottom: 40px;
  color: #000000;
}
.content .table .item .fader .subtitleFaderDevice {
  top: 18px;
  /*18*/
  font-size: 13pt;
}
.content .table .item .fader .slider {
  -webkit-appearance: none;
  width: 280px;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  margin: 195px 0 0 -100px;
  -webkit-transition: .2s;
  transition: opacity .2s;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari 3-8 */
  transform: rotate(-90deg);
}
.content .table .item .fader .slider::-webkit-slider-thumb:hover {
  opacity: 1;
}
.content .table .item .fader .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 80px;
  border: 0;
  background: url("https://svgshare.com/i/7c3.svg");
  cursor: pointer;
  background-size: 40px 80px;
  transform: rotate(90deg);
  opacity: 0.9;
}
.content .table .item .fader .slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 80px;
  border: 0;
  background: url("https://svgshare.com/i/7c3.svg");
  cursor: pointer;
  background-size: 40px 80px;
  transform: rotate(90deg);
  opacity: 0.9;
}
.content .table .item .muteButton {
  color: #F2F2F2;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .table .item .muteButton .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  /* Rounded sliders */
}
.content .table .item .muteButton .switch .switch input {
  display: none;
}
.content .table .item .muteButton .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #B02026;
  -webkit-transition: .4s;
  transition: .4s;
}
.content .table .item .muteButton .switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.content .table .item .muteButton .switch input:checked + .slider {
  background-color: #64C96B;
}
.content .table .item .muteButton .switch input:focus + .slider {
  box-shadow: 0 0 1px #B02026;
}
.content .table .item .muteButton .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.content .table .item .muteButton .switch .slider.round {
  border-radius: 34px;
}
.content .table .item .muteButton .switch .slider.round:before {
  border-radius: 50%;
}

/*# sourceMappingURL=fader2.css.map */
